/* ProductSummaryPage.css */

.product-summary-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.product-cart-main {
    display: flex;
}

.product-card {
    max-width: 400px;
    margin-bottom: 20px;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.quantity-controls {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.quantity-controls button {
    font-size: 18px;
    margin: 0 5px;
    cursor: pointer;
}

.total-price {
    font-size: 18px;
    margin-bottom: 20px;
}

.checkout-button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.remove-btn {
    height: 30px;
    cursor: pointer;
}