.cart-summary {
    margin-top: 120px;
    text-align: center;
    line-height: 1.5;
}

.cart-summary h2 {
    font-size: 28px;
}

.product-summary-page {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 5rem;
    margin-top: 40px;
    margin-bottom: 60px;
}

.product-cart-main {
    width: 400px;
}

.product-card {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-card img {
    max-width: 100%;
    height: 200px;
    width: 200px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-title {
    font-size: 1.2rem;
    margin-top: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;
    line-height: 1.25;
    text-align: center;
}

.quantity-controls {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}

.quantity-controls button {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    height: 2rem;
    width: 2rem;
}

.quantity-controls span {
    font-size: 1.2rem;
    outline: 2px solid #000;
    padding-top: 3px;
    text-align: center;
    width: 2rem;
}

.quantity-controls .remove-btn {
    font-size: 1.2rem;
    outline: 2px solid #000;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.8rem;
    margin-left: 5px;
}

.total-price {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.checkout-button {
    text-transform: uppercase;
    cursor: pointer;
    background-color: #117a7a;
    border: 2px solid #117a7a!important;
    color: #fff;
    padding: 8px 40px;
}

.place-order {
    font-size: 20px;
    font-weight: 600;
    display: grid;
    justify-content: center;
    align-items: center;
}

.checkout-button:hover {
    background-color: white;
    color: #117a7a;
}

.clear-btn {
    background: #fff;
    color: #58595b;
    border: 1px solid #58595b;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 20px;
}

.check-out {
    height: 100px;
}

@media (max-width:400px) {
    .product-cart-main {
        margin-top: 80px;
    }
    .product-card img {
        min-width: 40%;
        height: 200px;
        margin-bottom: 8px;
    }
    .checkout-button {
        font-size: 14px;
        padding: 10px 80px;
        display: block;
    }
    .cart-summary {
        margin-bottom: 20px;
    }
    .empty-cart {
        float: left;
    }
    /* .clear-btn {
        float: left;
    } */
}